.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}

.gameName {
  border-radius: 20px;
  width: 50%;
  font-size: 2em;
  padding: 20px;
  margin: 20px;
}

.button {
  width: 50%;
  font-size: 2em;
  padding: 20px;
  text-transform: uppercase;
  margin: 20px;
  border-radius: 20px;
}
