@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.deck {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards .turnIndicator {
  position: absolute;
  top: 30px;
  text-transform: uppercase;
}

.cards .card {
  transform: translate(calc(var(--i) * -75px), 0px);
  transition: 0.5s;
}
.card {
  width: 120px;
  height: 180px;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 5px;
  display: flex;
  background: white;
  position: relative;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.corner {
  position: absolute;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.top-left {
  top: 10px;
  left: 10px;
}
.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.value {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  text-align: center;
  background: white;
  border-radius: 100px 50px / 100px 50px;
  font-weight: bold;
}

.interact:hover {
  cursor: pointer;
  transform: translate(calc(var(--i) * -75px), -50px);
  transition: 0.5s;
}

.otherPlayersInfo {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 0;
}

.otherPlayersInfo .info-tile {
  padding: 20px;
  border-radius: 12px;
  margin: 20px;
  border: 2px solid black;
}

.otherPlayersInfo .opponentTurnIndicator {
  padding: 20px;
  border-radius: 12px;
  margin: 20px;
  border: 2px solid red;
}

.red .inner {
  background: #d33a30;
}
.red .value {
  color: #d33a30;
}

.blue .inner {
  background: #04639e;
}
.blue .value {
  color: #04639e;
}

.green .inner {
  background: #558203;
}
.green .value {
  color: #558203;
}

.yellow .inner {
  background: #ecb405;
}
.yellow .value {
  color: #ecb405;
}

.black .inner {
  background: #131511;
}
.black .value {
  color: #131511;
}
